.FormElements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  font-size: 16px;
}
.FieldContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LoadingContainer {
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
