.pageContainer {
  background: white;
}

.fieldContainer {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.inputField {
  width: 400px;
  border: 1px solid #c6c1b9;
  border-radius: 4px;
  padding: 12px 12px;
  font-size: 18px;
  outline: none;
  transition: border-color 0.2s, padding 0.2s;
  background-color: transparent;
}

.inputFieldActive {
  padding: 12px 12px;
  color: black;
  border-color: black;
}

.label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  font-size: 18px;
  color: #c6c1b9;
  pointer-events: none;

  background-color: white;
  padding: 0 4px;
}

.labelActive {
  top: -1px;
  left: 12px;
  font-size: 14px;
  color: black;
  background-color: white;
}
