/* Стиль для кнопки, яка відкриває бічну панель */
.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Стиль для бічної панелі */
.sidebar {
  position: fixed;
  top: 0;
  right: -500px; /* Початкове положення за межами екрану */
  width: 500px;
  height: 100vh; /* Висота на всю висоту екрану */
  background-color: #111;
  color: white;
  transition: right 0.3s ease; /* Анімація відкриття */
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  right: 0; /* Панель зсувається на екран */
}

/* Вміст бічної панелі */
.sidebarContent {
  padding: 20px;
}

.sidebarHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #d32f2f;
}
