/* modal.module.css */
.modalRight {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%; /* Висота на весь екран */
  width: 400px; /* Ви можете налаштувати ширину */
  animation: slideInFromRight 0.5s ease-out forwards;
  overflow-y: auto; /* Прокрутка всередині модального вікна */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.containerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 400px;
  font-family: var(--font-noto-sans), sans-serif;
}

.Button {
  font-family: var(--font-noto-sans), sans-serif;
  background-color: #e48100;
  color: white;
}

.ButtonIcon {
  width: 1.25rem; /* відповідає 5 одиницям в Tailwind */
  height: 1.25rem;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.wageInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mealsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-noto-sans);
}

.mealCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--isabelline);
  padding: 15px 15px 15px 25px;
  border-radius: 8px;
}

.Icon {
  filter: var(--icon-filter);
  width: 30px;
}

.mealsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mealName {
  font-weight: 600;
  font-size: 18px;
}

.kcal {
  font-size: 14px;
}

.mealsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
