.property1defaultChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 16px 16px 16px 16px;
  background-color: #e48100;
  width: 8px;
  height: 56px;
}
.userIcon {
  width: 24px;
  position: relative;
  height: 24px;
  transition: fill 0.3s ease;
}
.div {
  position: relative;
}
.userParent {
  position: absolute;
  top: calc(50% - 12.5px);
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.property1defaultInner {
  position: absolute;
  top: 0px;
  left: calc(50% - 150px);
  border-radius: 16px;
  background-color: #e48100;
  width: 250px;
  height: 56px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.property1default {
  width: 300px;
  height: 56px;
  overflow: hidden;
}
.property1variant2Child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 4px 4px 0px;
  width: 8px;
  height: 72px;
}
.property1variant2Inner {
  position: absolute;
  top: 0px;
  left: calc(50% - 150px);
  border-radius: 4px;
  width: 250px;
  height: 56px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.property1variant2 {
  width: 300px;
  height: 56px;
  overflow: hidden;
  color: var(--color-text);
}
.property1defaultParent {
  width: 100%;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: "Noto Sans";
}

.whiteSvg {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(360deg);
}

.blackSvg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg);
}

.Svg {
  filter: var(--icon-filter-invert);
}

@media (max-width: 768px) {
  .property1defaultInner,
  .property1variant2Inner {
    left: calc(50% - 170px);
    width: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .userIcon {
    margin-left: 4px;
    margin-top: 1px;
  }

  .div {
    display: none; /* Hide text on smaller screens */
  }
}
@media (max-width: 480px) {
  .property1defaultInner,
  .property1variant2Inner {
    left: 12px;
    width: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .property1defaultChild {
    display: none;
  }
  .userIcon {
    margin-left: 4px;
    margin-top: 1px;
  }

  .div {
    display: none; /* Hide text on smaller screens */
  }
}
