.UserContainer {
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: (--font-noto-sans), sans-serif;
}

.UserContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.RegContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.UserMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.LogoContainer {
  width: 100%;
  /* height: 134px; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0px;
  box-sizing: border-box;
  gap: 25px;
}

.LogoText {
  font-size: 48px;
  font-weight: 600;
  color: #e48100;
  text-align: left;
}

.FormFields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.Fields {
  width: 100%;
}

.Buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.TextAndLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.text {
  font-size: 16px;
  color: #40403b;
  text-align: center;
}

.link {
  font-size: 16px;
  color: #e48100;
  text-align: center;
  cursor: pointer;
}

.link:hover {
  color: #d07200;
  text-decoration: underline;
}

.link:active {
  color: #c06200;
}

.HelpText {
  font-size: 18px;
  font-family: (--font-noto-sans), sans-serif;
  color: #000;
  text-align: left;
  align-self: flex-start;
  padding: 10px 0px;
}
