.Card {
  width: fit-content;
  max-height: 360px;
  font-family: var(--font-noto-sans);
  background-color: var(--isabelline);
  border-radius: 12px;
  padding: 20px;
}

.CardBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CardImage {
  width: 300px;
  height: 180px;
  border-radius: 12px;
  background-color: var(--gray);
  object-fit: cover;
}

.CardContent {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DropdownTrigger {
  height: 30px;
  width: 30px;
}

.CardInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.GymName {
  font-size: 16px;
  font-weight: 600;
}

.Adress {
  font-size: 14px;
  font-weight: 500;
}

.customColor {
  color: #d82727; /* Set the custom color */
}
.deleteItem {
  transition: 0.2s;
}

.deleteItem:hover {
  background-color: #d82727; /* Highlight color on hover */
  color: white; /* Text color on hover */
}

.ItemIcon {
  width: 24px;
  height: 24px;
}
